# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

experiments/siammask_sharp/*.pth
experiments/siammask_sharp/*.pth.1
experiments/siammask_sharp/test/*
*.DS_Store
experiments/siammask_base/*.model
experiments/siammask_sharp/*.model
experiments/siammask_sharp/log*
experiments/siammask_sharp/*.txt
experiments/siamrpn_resnet/*.model
experiments/siammask_base/snapshot/*.pth
experiments/siammask_base/snapshot/checkpoint_e1.pth
experiments/siammask_base/logs/*
experiments/siammask_base/log_test.txt
experiments/siammask_base/board/*.sgn
experiments/siammask_base/logs/*.txt
experiments/siammask_base/test/*
experiments/*.model
data/*/*.json
data/*.json
data/*.png
data/*.zip
data/DAVIS*
data/tennis/*.jpg
data/trackdat/*
data/VOT*/*
data/VOT2021RGBD/*
data/DAVIS*/*
data/coco/*.json
data/coco/annotations/*
data/coco/train2017/*
data/coco/val2017/*
data/coco/*.zip
data/coco/crop511/*
data/vid/*.tar.gz
data/vid/ILSVRC2015/*
data/vid/crop511/*
data/vid/train.json
data/vid/val.json
data/ytb_vos/*.zip
data/ytb_vos/train/*
data/ytb_vos/crop511/*
*.pth
